# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Mushroom Islands.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\frede\Documents\GameDev\JamProjects\10.04.21\Mushroom Islands\.idea\.idea.Mushroom Islands\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
